<html>
    <head>
            {% load static %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
            <title>SI - Ascensor</title>
            <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
    </head>
    <body class="teal lighten-5">
          
        <div class = "container teal lighten-5">

            <div class="row">
                <div class="col s12 m6 teal lighten-4 offset-m3"> 
                        <nav>
                            <div class="nav-wrapper teal">
                                <a href="" class="brand-logo center">Login</a>
                            </div>
                        </nav>
                        <form method="POST"> 
                            {% csrf_token %}
                            {{ form.as_p }} 
                            <button type='submit' class=" waves-effect waves-green btn right" action="index"><i class="material-icons right " ></i>Iniciar Sesión</button>
                        </form>
                    </div> 
                </div>
           </div>
       
        <footer>
            <!---->
        </footer>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
                $(document).ready(function(){
                $('.datepicker').datepicker({
                    format:'dd-mm-yyyy',
                    selectMonths: true,
                    selectYears: 120 
                    })
                });
            </script> 
            <script> 
                $(document).ready(function(){
                $('select').formSelect();
                }); 
                $(document).change(function(){
                $('select').formSelect();
                });
                                    
                $(document).ready(function(){
                $('.sidenav').sidenav();
                });
                $(document).ready(function(){
                $('.modal').modal();
                });
                $('.carousel').carousel({  
                });
                setTimeout(autoplay, 4500);
                function autoplay() {
                $('.carousel').carousel('next');
                setTimeout(autoplay, 4500);
                };
                $('.carousel.carousel-slider').carousel({
                fullWidth: true
                });
                $(document).ready(function(){
                $('.materialboxed').materialbox();
                });
                $(document).ready(function() {
                $('.sidenav').sidenav();
                });
                
            </script> 
    </body>
</html>